* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.wrapper {
    width: 420px;
    border: 2px solid rgba(245, 247, 239, 0.2);
    backdrop-filter: blur(20px);
    box-shadow:0 0 10px rgba(5, 31, 201, 0.2);
    color: white ;
    background-color: #769dd7;
    border-radius: 10px;
    padding: 30px 40px; 
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color:white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: rgb(6, 106, 221);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .btn:active {
     transform: scale(0.97);
    box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* =====================
    ADMIN DASHBOARD
======================== */
.admin-dashboard table {
    width: 65%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 30px auto;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

/* Header tabel warna biru */
.admin-dashboard table th {
    background: #0056d6;
    color: white;
    padding: 14px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

/* Isi tabel */
.admin-dashboard table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    border-radius: 10px;
}

/* Hover setiap baris */
.admin-dashboard table tr:hover {
    background: #f0f6ff;
}

/* Dirapikan untuk link Aksi */
.admin-dashboard table td a {
    color: #0056d6;
    font-weight: bold;
}

.admin-dashboard table td a:hover {
    text-decoration: underline;
}

.admin-dashboard h1 {
    text-align: center;
    font-size: 36px;
    color: #6193de;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.admin-dashboard h2 {
    width: 100%;
    text-align: left;
    font-size: 26px;
    color: #0056d6;
    border-left: 7px solid #0056d6;
    padding-left: 12px;
    font-weight: 700;
    margin-left: 50px;
}
